<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-sm-10">

      <%= bootstrap_form_with url: leidimai_index_path, method: :get, local: true do |form| %>
        <div class="row py-3">
          <div class="col">
            <%= form.select :regionas, options_for_select(Leidimas.pluck(:regionas).uniq.compact, params[:regionas]), { label: 'Regionas', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.select :rajonas, options_for_select(Leidimas.pluck(:rajonas).uniq.compact, params[:rajonas]), { label: 'Rajonas', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.select :nuosavybes_forma, options_for_select(Leidimas.pluck(:nuosavybes_forma).uniq.compact, params[:nuosavybes_forma]), { label: 'Nuosavybės forma', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.select :uredija, options_for_select(Leidimas.pluck(:uredija).uniq.compact, params[:uredija]), { label: 'Urėdija', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.select :girininkija, options_for_select(Leidimas.pluck(:girininkija).uniq.compact, params[:girininkija]), { label: 'Girininkija', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.select :kvartalas, options_for_select(Leidimas.pluck(:kvartalas).uniq.compact, params[:kvartalas]), { label: 'Kvartalas', include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col align-self-center">
            <%= form.submit "Filtruoti", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

      <%= link_to 'Sukurti naują leidimą', new_leidimai_path, class: "btn btn-success my-3" if current_user&.roles == 'admin'%>
      <%= link_to 'Informuoti apie naujus leidimus', new_permit_location_subscription_path, class: "btn btn-success my-3" if current_user%>


      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sesija ir numeris</th>
            <th scope="col">Regionas</th>
            <th scope="col">Rajonas</th>
            <th scope="col">Nuosavybės forma</th>
            <th scope="col">Urėdija</th>
            <th scope="col">Girininkija</th>
            <th scope="col">Kvartalas</th>
            <th scope="col">Sklypas</th>
            <th scope="col">Kirtimo rūšis</th>
            <th scope="col">Galiojimo pradžia</th>
            <th scope="col">Galiojimo pabaiga</th>
            <%if current_user%>
              <th scope="col">Pranešti apie nusižengimą</th>
              <th scope="col">Peržiūrėti leidimą žemėlapyje</th>
            <%end%>

          </tr>
        </thead>

        <tbody>
          <% @leidimai.each do |leidimas| %>
            <tr>
              <td><%= leidimas.serija_ir_nr %></td>
              <td><%= leidimas.regionas %></td>
              <td><%= leidimas.rajonas %></td>
              <td><%= leidimas.nuosavybes_forma %></td>
              <td><%= leidimas.uredija %></td>
              <td><%= leidimas.girininkija %></td>
              <td><%= leidimas.kvartalas %></td>
              <td><%= leidimas.sklypai %></td>
              <td><%= leidimas.kirtimo_rusis %></td>
              <td><%= leidimas.galiojimo_pradzia %></td>
              <td><%= leidimas.galiojimo_pabaiga %></td>
              <%if current_user%>
                <td><%= link_to 'Pranešti', new_cutting_violation_report_path(leidimas: leidimas), class: "btn btn-success" %></td>
                <td><%= link_to 'Peržiūrėti', leidimai_path(leidimas), class: "btn btn-success" %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @leidimai, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
