<div class="container" id="sign-up-form">
  <div class="row justify-content-center">
    <div class="col-sm-offset-4 col-sm-8 mb-4">
      <h3>Sukurti naują kirtimų leidimą</h3>
      <%= bootstrap_form_for(@leidimas,
                            :url => leidimai_index_path) do |f| %>
        <%= f.text_field :serija_ir_nr, label: 'Sesija ir numeris', placeholder: 'Sesija ir numeris', class: 'form-control' %>
        <%= f.text_field :regionas, label: 'Regionas', placeholder: 'Regionas', class: 'form-control' %>
        <%= f.text_field :rajonas, label: 'Rajonas', placeholder: 'Rajonas', class: 'form-control' %>
        <%= f.text_field :nuosavybes_forma, label: 'Nuosavybės forma', placeholder: 'Nuosavybės forma', class: 'form-control' %>
        <%= f.text_field :uredija, label: 'Urėdija', placeholder: 'Urėdija', class: 'form-control' %>
        <%= f.text_field :girininkija, label: 'Girininkija', placeholder: 'Girininkija', class: 'form-control' %>
        <%= f.number_field :kvartalas, label: 'Kvartalas', placeholder: 'Kvartalas', class: 'form-control' %>
        <%= f.text_field :sklypai, label: 'Sklypai', placeholder: 'Sklypai', class: 'form-control' %>
        <%= f.number_field :plotas, label: 'Plotas', placeholder: 'Plotas', class: 'form-control' %>
        <%= f.number_field :kad_vietove, label: 'Kadastro vietovė', placeholder: 'Kadastro vietovė', class: 'form-control' %>
        <%= f.number_field :kad_blokas, label: 'Kadastro blokas', placeholder: 'Kadastro blokas', class: 'form-control' %>
        <%= f.number_field :kad_nr, label: 'Kadastro numeris', placeholder: 'Kadastro numeris', class: 'form-control' %>
        <%= f.text_field :kirtimo_rusis, label: 'Kirtimo rūšis', placeholder: 'Kirtimo rūšis', class: 'form-control' %>
        <%= f.date_field :galiojimo_pradzia, label: 'Galiojimo Pradžia', placeholder: 'Galiojimo Pradžia', class: 'form-control' %>
        <%= f.date_field :galiojimo_pabaiga, label: 'Galiojimo Pabaiga', placeholder: 'Galiojimo Pabaiga', class: 'form-control' %>
        <%= f.submit 'Sukurti', class: 'btn btn-success sign-up-button' %>
      <% end %>
    </div>
  </div>
</div>
