
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-sm-4">
        <h2 class="text-center">Please select wanted permits</h2>
        <%= bootstrap_form_with url: '/maps', remote: true do |form| %>
          <%= form.select :uredija, uredijos, {:include_blank => "All Uredijos", :include_hidden => false}, { :multiple => true} %>
          <%= form.select :kirtimo_rusis, kirtimo_tipai, {:include_blank => "All Kiritimo Būdai", :include_hidden => false}, { :multiple => true} %>
          <%= form.select :nuosavybes_forma, nuosavybes_formos, {:include_blank => "All Nuosavybės Formos", :include_hidden => false}, { :multiple => true} %>
          <%= form.submit %>
        <% end %>
      </div>
    </div>
  </div>
  </body>
</html>
