
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #mapDiv {
        width: 1200px;
        height: 800px;
      }
    </style>
  </head>
  <body>
    <h1>GIS test map</h1>
    <div id="mapDiv"></div>

    <%= form_with do |form| %>
      <%= form.date_field :born_on %>
      <%= form.time_field :started_at %>
      <%= form.datetime_local_field :graduation_day %>
      <%= form.submit %>
    <% end %>


    <script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('mapDiv'), {
          zoom: 7,
          center: new google.maps.LatLng(55.1694, 23.8813), //centering on Druskininku Uredija
          mapTypeId: 'terrain'
        });
        map.data.loadGeoJson("/druskininku_girininkija_28,3.json");
        map.data.loadGeoJson("/druskininku_girininkija_28,1.json");

        map.data.setStyle(function(feature) {
        var color = "green";
        return {
          fillColor: color,
          strokeWeight: 1
        }
      });
      }
      var color = "green";

    </script>

    <script
      async
      defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKgjgdGIMcQh9jaXKxFGJFWVGfmAlFQ_Y&callback=initMap">
    </script>
  </body>
</html>
