<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-sm-10">

      <%= link_to 'Pranešti apie nusižengimą', leidimai_index_path, class: "btn btn-success my-3" if current_user%>


      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pranešėjo el. paštas</th>
            <th scope="col">Leidimo numeris</th>
            <th scope="col">Apibrėžimas</th>
            <th scope="col">Pranešimo sukurimo data</th>
            <th scope="col">Peržiūrėti nusižengimo nuotrauką</th>

          </tr>
        </thead>

        <tbody>
          <% @cutting_violation_reports.each do |violation| %>
            <tr>
              <td><%= violation.user.email %></td>
              <td><%= violation.leidimas_id %></td>
              <td><%= violation.description %></td>
              <td><%= violation.created_at %></td>
              <td><%= link_to 'Peržiūrėti', cutting_violation_report_path(violation), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @cutting_violation_reports, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
