<nav class="navbar navbar-expand-lg navbar-dark navbar-static-top" style="background-color: #228B22;">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-sm-7 d-flex align-items-center">
        <%= link_to 'Mikšų kirtimai', root_path, class: 'navbar-brand' %>
      </div><!-- col-sm-7 -->

      <div class="col-sm-5">
        <ul class="navbar-nav float-end">
          <li><%= link_to 'Kirtimų leidimai', leidimai_index_path(page: 1), class: 'nav-link',style: 'white-space:nowrap;' %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Žemėlapis', maps_path, class: 'nav-link' %></li>
          <li><%= link_to 'Redaguoti profilį', edit_user_registration_path, class: 'nav-link', style: 'white-space:nowrap;' %></li>
          <li><%= button_to 'Atsijungti', destroy_user_session_path, method: :delete, class: 'nav-link', style: 'white-space:nowrap; background-color: #228B22;border: none;background: none;' %></li>
        <% else # user not signed it %>
          <li ><%= link_to 'Prisijungti', login_path, class: 'nav-link' %></li>
          <li ><%= link_to 'Prisiregistruoti', sign_up_path, class: 'nav-link' %></li>
        <% end # if user is signed it %>
        </ul>
      </div><!-- col-sm-5 -->
    </div><!-- row -->
  </div><!-- container -->
</nav>
